import { defineStyleConfig } from 'tailwindcss';
import { config } from 'tailwindcss/config';

const theme = {
  extend: {
    colors: {
      primary: '#3498db',
      secondary: '#f1c40f',
    },
  },
};

const tailwindConfig = defineStyleConfig({
  mode: 'jit',
  purge: ['./src/**/*.{js,ts,jsx,tsx}', './public/index.html'],
  theme,
  variants: {},
  plugins: [],
});

export default tailwindConfig;